html
body{
    height: 100%;
    background-color: #373c35;
}
.navbar.is-fixed-top{
    background-color: #71be52;;
}

.navbar-start--centered {
    flex-grow: 1;
    justify-content:center;
  }
  
  .navbar .navbar-start a {
    padding: 30px 50px;
    color: rgb(6, 6, 6);
    font-weight: bold;
    display: flex;
    align-items: center;
  }
 
 
  .navbar .navbar-start a.logo:hover img,
  .navbar .navbar-start a.logo:hover img:hover {
    fill: #abcf39;
  }
  
  .navbar .navbar-end a {
    padding: 30px 20px;
    color:#194522;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar-start a:hover,
  .navbar .navbar-end a:hover {
    color: #93bb0e;
  }
  
  .navbar .navbar-end  {
    padding-right: 6px;
  }
  
  .navbarTop .navbar-menu{
      flex: inline;
      justify-content: right;
      
     
      
  }

 #navbarTop.navbar-menu{
     justify-content: right;
     
 }

 .title{
     color: whitesmoke;
 }

p{
    color: whitesmoke;
}
  