html
body{
    height: 100%;
    background-color: #71be52;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
  }
  
  .navbar-start--centered {
    flex-grow: 1;
    justify-content:center;
  }
  
  .navbar .navbar-start a {
    padding: 30px 50px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
 
 
  .navbar .navbar-start a.logo:hover img,
  .navbar .navbar-start a.logo:hover img:hover {
    fill: #abcf39;
  }
  
  .navbar .navbar-end a {
    padding: 30px 20px;
    color:#194522;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar-start a:hover,
  .navbar .navbar-end a:hover {
    color: #93bb0e;
  }
  
  .navbar .navbar-end  {
    padding-right: 6px;
  }
  
  .navbarTop .navbar-menu{
      flex: inline;
      justify-content: right;
      
     
      
  }

 #navbarTop.navbar-menu{
     justify-content: right;
     
 }

  nav.navbar.is-fixed-top{
      background: #71be52;
  }

  #weatherContent {
    display: none;
}

.input-group {
  max-width: 200px;
}

.homeimage{
  max-height: 80vh; 
}

#forecastDisplay,
#uvIndexColor,
li {
  color: #4D4F53!important;
}

#citySearch,
#forecastDisplay,
.card {
  background-color: #5A6C73!important;
}

#citySearch {
  height: 100vh;
}

#fiveForecast .card {
  border: 1px solid white!important;
}

#soil-container {
  background-color: ghostwhite;
  align-items: center;
  display: block;
}